
// Main Button
.main-button {
    height: 55px;
    padding: 0 35px;
    background-color: $primary-light;
    color: $secondary-dark;
    font-family: $sub-font;
    line-height: normal;
    font-size: 18px;
    border-radius: 0;
    font-weight: 500;
    transition: all $main-tp;
    &:hover {
        filter: drop-shadow(0 0 70px rgba($color: $primary-light, $alpha: 1.0));
        transition: all $main-tp;
        background-color: $primary-light;
        color: $secondary-dark;

        padding: 0 40px;

        .main-button-icon {
            transition: all $main-tp;
            margin-left: 10px;
            
        }

    }
    &:not(:disabled):not(:disabled):active {
        background-color: $white;
    }
}


.main-button-icon {
    vertical-align: middle;
    margin-left: 5px;
    transition: all $main-tp;
}


@include media-breakpoint-down(lg) {
    .main-button {
        font-size: 14px;
        height: 45px;
        padding: 0 30px;
    }

}

