
// Main Button
.main-button, .main-button:hover {
    height: 55px;
    padding: 0 35px;
    background-color: $primary-light;
    color: $secondary-dark;
    font-family: $sub-font;
    font-size: 18px;
    border-radius: 0;
    font-weight: 500;
    transition: all $main-tp;
}

button.main-button:hover {
    // color: rgba($color: #000000, $alpha: 1.0);
    filter: drop-shadow(0 0 70px rgba($color: $primary-light, $alpha: 1.0));
    transition: all $main-tp;
}

.main-button-icon {
    vertical-align: middle;
    margin-left: 5px;
}


@include media-breakpoint-down(lg) {
    .main-button {
        font-size: 14px;
        height: 45px;
        padding: 0 30px;
    }
}

