// Colours

$primary-dark : #1A120B;
$secondary-dark: #3C2A21;
$primary-light: #D5CEA3;
$primary-light-2: #E5E5CB;
$white: #fff;

// Fonts

$main-font : 'DM Serif Display', serif;
$sub-font: 'DM Sans', sans-serif;

// Height

$section-height : 700px;
// $section-height : 90vh;

// Tansition Properties

$main-tp : .4s;