@import "main";

.contact-form {
  .row {
    min-height: 550px;
    height: auto;
  }

  &-details {
    height: 100%;
    background-color: $primary-dark;
    padding: 40px;

    h2 {
      font-family: $main-font;
      color: $white;
      font-size: 40px;
      margin-bottom: 20px;
    }

    p {
      color: $light-gray;
      font-family: $sub-font;
    }

    .social-icons-wrapper {
      margin: 50px 0 0 0;

      .social-icon {
        height: 40px;
        width: 40px;
        font-size: 20px;

        &:hover {
          i {
            transform: scale(1);
          }
        }
      }
    }
  }

  &-inputs {
    height: 100%;
    background-color: $primary-light;
    padding: 40px;

    .form-label {
      font-family: $sub-font;
      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    .form-control {
      border-radius: 0;
      border-bottom: 5px solid black;
      font-family: $sub-font;

      &:focus {
        border-color: $primary-dark;
  box-shadow: 0 1px 1px rgba($primary-dark, 0.075);
      }
    }

    .form-button {
      border: 0;
      background-color: $primary-dark;
      color: $white;
      font-family: $sub-font;
      padding: 10px 30px;
      margin-top: 15px;
      transition: all $main-tp;

      &:active {
        transition: all $main-tp;
        color: $white;
        background-color: $secondary-dark;
      }
    }
  }
}

