@import "single-page";


.contact-form {
  color: $white;

  .row {
    height: 550px;
  }

  &-details {
    height: 100%;
    background-color: $primary-dark;
    padding: 40px;
    
    p {
      color: $light-gray !important;
    }
    
    h2 {

    }
  }
  
  &-inputs {
  }
}
