// bootstrap@5.3.0-alpha3
@import "../node_modules/bootstrap/scss/bootstrap";

@import "utilities/variables";
@import "utilities/global";
@import "components/newsletter-box";


#lottieAnimation {
  height: 200px;
  margin: 0 0 15px 0;
}

@include media-breakpoint-down(lg) {

  #lottieAnimation {
    height: 150px;
  }

}
