@import "utilities/variables";

#preloader {
    height: 100%;
    width: 100%;
    background: $primary-dark;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity $main-tp;
    opacity: 1;
}

.preloader-hidden {
    opacity: 0 !important;
}

#lottiePreloader {
    height: 20%;
    display: inline-block;
}