@import "../node_modules/bootstrap/scss/bootstrap";

@import "utilities/variables";
@import "utilities/global";

@import "components/buttons";

@import "partials/footer";
@import "partials/navigation";
@import "partials/newsletter";


// Shop Page Global Styles
body {}
// Shop Page Global Styles

#banner {
  padding: 50px;

  .shop-banner {
    border-radius: 15px;
    background-color: $primary-light-2;
    padding: 50px 70px;
  }

  h1 {
    font-family: $main-font;  
    font-size: 55px;
}

p {
    font-family: $sub-font;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
}
}

#products {
    background-color: $primary-light-2;
}