@import "../node_modules/bootstrap/scss/bootstrap";

@import "utilities/variables";
@import "utilities/global";

@import "components/buttons";

@import "partials/footer";
@import "partials/navigation";
@import "partials/newsletter";

// Shop Page Global Styles
body {
}
// Shop Page Global Styles

// Start - Banner Section
#banner {
  padding: 50px;

  .container {
    position: relative;
  }

  .shop-banner {
    border-radius: 15px;
    background-color: $primary-light-2;
    padding: 30px 70px;

    &-img {
      height: 250px;

      &-bg {
        height: 300px;
        width: 300px;
        background-color: $primary-light;
        border-radius: 100%;
      }
    }
  }

  h1 {
    font-family: $main-font;
    font-size: 55px;
  }

  p {
    font-family: $sub-font;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
  }
}

@include media-breakpoint-down(lg) {
  #banner {
    padding: 20px;

    .shop-banner {
      padding: 30px 0px;

      &-img {
        height: 200px;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 16px;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

// End - Banner Section

// Start - Products Section

#products {
  background-color: $primary-light-2;

  .product-card {
    font-family: $sub-font;
    color: $primary-dark;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &-img {
      width: 100%;
    }

    &-details {
      background-color: $white;
      padding: 15px 25px;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-top: 5px;
    }

    &-p {
      font-size: 14px;
      color: $dark-gray;
      margin: 5px 0 15px 0;
    }

    &-price {
      display: inline-block;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      background-color: $secondary-dark;
      padding: 5px 10px;


      span {
        font-weight: 500;
        font-size: 16px;
      }
    }

    &-cta {
      color: $secondary-dark;
      transition: all $main-tp;
      font-weight: 600;
      padding-top: 5px;
      text-decoration: none;

      &:hover {
        i {
          margin-left: 10px;
          transition: all $main-tp;
        }
      }

      p {
        margin: 0;
      }

      i {
        font-size: 14px;
        margin-left: 5px;
      }
    }

  }
}
