// bootstrap@5.3.0-alpha3
@import "../node_modules/bootstrap/scss/bootstrap";

@import "utilities/variables";
@import "utilities/global";
@import "utilities/animations";

@import "components/buttons";

@import "partials/footer";
@import "partials/navigation";
@import "partials/newsletter";
@import "partials/mixins";

#heading-section {
  height: 300px;
  color: $white;
  background-color: $primary-dark;

  h1 {
    font-family: $main-font;
    font-size: 55px;
  }

  p {
    font-family: $sub-font;
    color: $light-gray;
  }
}

#content-section {
  padding: 80px 0;
  background-color: $bg-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: $main-font;
  }

  p {
    font-family: $sub-font;
    color: $dark-gray;
    font-size: 18px;
  }
}

@include media-breakpoint-down(lg) {
  #heading-section {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }
}
