<footer>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-3 footer-brand">
        <img
          class="footer-logo"
          src="img/footer-logo.webp"
          alt="Cafesy footer logo that says cafesy with text"
        />
        <h6>Connected. Organic. Alive.</h6>
        <p>
          Experience the richness, perfection and indulge in the true taste of
          coffee & excellence at cafesy.
        </p>
      </div>

      <div class="col-12 col-lg-3 p-0"></div>

      <div class="col-12 col-lg-3">
        <h6>Contact Us</h6>

        <dl>
          <dt>Email :</dt>
          <dd>contact@cafesy.com</dd>

          <dt>Mobile :</dt>
          <dd>+94 77 62 62 626</dd>

          <dt>Text :</dt>
          <dd>+94 77 62 62 626</dd>
        </dl>
      </div>
      <div class="col-12 col-lg-3">
        <h6>Visit us At</h6>

        <dl>
          <dt>Address :</dt>
          <dd>Cafésy,<br />123, Coffee Street,<br />Kandy, Sri Lanka.</dd>
        </dl>

        <%- include('../components/social-buttons', { myclass : ' ' }); %>
      </div>
    </div>

    <div class="copyrights container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="/menu" class="nav-link">Menu</a>
        </li>

        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/newsletter">Newsletter</a>
        </li>

        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>

        <li class="nav-item">
          <a href="/faq" class="nav-link">FAQs</a>
        </li>
      </ul>
      <p class="text-center">© 2023 Cafésy. All rights reserved.</p>
    </div>
  </div>
</footer>
