::-moz-selection {
  color: $primary-dark;
  background: $primary-light;
}

::selection {
  color: $primary-dark;
  background: $primary-light;
}

// Anchor Tags Styles
a {
  color: $primary-light;
  transition: all $main-tp;

  &:hover {
    transition: all $main-tp;
    color: inherit;
  }
}

.no-styles {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: inherit;
  }
}

main {
  margin-top: 85px;
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
  .bg-body-tertiary {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
