::-moz-selection {
  color: $primary-dark;
  background: $primary-light;
}

::selection {
  color: $primary-dark;
  background: $primary-light;
}


// Anchor Tags Styles
a {

  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &.link {
    color: $primary-light;
    transition: all $main-tp;
    text-decoration: underline;
  
    &:hover {
      color: inherit;
      transition: all $main-tp;
    }
  }
}


main {
  margin-top: 85px;
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
  .bg-body-tertiary {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}