::-moz-selection {
  color: $primary-dark;
  background: $primary-light;
}

::selection {
  color: $primary-dark;
  background: $primary-light;
}

// Anchor Tags Styles
a {
  color: $primary-light;
  transition: all $main-tp;

  &:hover {
    transition: all $main-tp;
    color: $white;
  }
}


@include media-breakpoint-down(lg) {

  .navbar .container,
  .row > * {
    padding: 0 30px;
  }
}

main {
  margin-top: 85px;
}
