<div class="coffee-card slide-up-hidden">
    <a href="/shop">
      <img class="coffee-card-image" src="/img/<%= coffee_img %>.webp" alt="Cup of <%= coffee_name %> on Cafesy" />
    </a>
    <div class="coffee-card-text-wrapper">
      <h3 class="coffee-card-heading">
        <a class="no-styles" href="/shop"><%= coffee_name %></a>
      </h3>
      <p class="coffee-card-p">
        <%= coffee_details %>
      </p>
    </div>
  </div>


  