<div class="product-card mt-4">
    <img class="product-card-img" src="img/Cappacino.webp" alt="">
    <div class="product-card-details">
      <h4 class="product-card-title"> <%= title %> </h4>
      <p class="product-card-p"> <%= description %> </p>
      <p class="product-card-price text-end m-0"><span>USD</span> <%= price %>$</p>
    </div>
  </div>