<!-- Icons Section here -->

<div class="social-icons-wrapper d-flex gap-3 <%= myclass %>">
  <a href="https://facebook.com">
    <div class="social-icon">
      <i class="fa-brands fa-facebook-f"></i>
    </div>
  </a>

  <a href="https://instagram.com">
    <div class="social-icon">
      <i class="fa-brands fa-instagram"></i>
    </div>
  </a>

  <a href="https://twitter.com">
    <div class="social-icon">
      <i class="fa-brands fa-twitter"></i>
    </div>
  </a>

  <a href="https://pinterest.com">
    <div class="social-icon">
      <i class="fa-brands fa-pinterest"></i>
    </div>
  </a>

  <a href="https://youtube.com">
    <div class="social-icon">
      <i class="fa-brands fa-youtube"></i>
    </div>
  </a>
</div>

<!-- Icons Section here -->
