<!-- Icons Section here -->

<div class="social-icons-wrapper d-flex gap-3 <%= myclass %>">
  <a href="https://facebook.com" aria-label="Cafesy's Facebook Page">
    <div class="social-icon">
      <i class="fa-brands fa-facebook-f"></i>
    </div>
  </a>

  <a href="https://instagram.com" aria-label="Cafesy's Instagram Page">
    <div class="social-icon">
      <i class="fa-brands fa-instagram"></i>
    </div>
  </a>

  <a href="https://twitter.com" aria-label="Cafesy's Twitter Account">
    <div class="social-icon">
      <i class="fa-brands fa-twitter"></i>
    </div>
  </a>

  <a href="https://pinterest.com" aria-label="Cafesy's Pinterest Account">
    <div class="social-icon">
      <i class="fa-brands fa-pinterest"></i>
    </div>
  </a>

  <a href="https://youtube.com" aria-label="Cafesy's YouTube Channel">
    <div class="social-icon">
      <i class="fa-brands fa-youtube"></i>
    </div>
  </a>
</div>

<!-- Icons Section here -->
