<!-- Icons Section here -->

<div
class="social-icons-wrapper d-flex gap-3 <%= myclass %>"
>
<div
  class="social-icon d-flex align-items-center justify-content-center"
>
  <i class="fa-brands fa-facebook-f"></i>
</div>
<div
  class="social-icon d-flex align-items-center justify-content-center"
>
  <i class="fa-brands fa-instagram"></i>
</div>
<div
  class="social-icon d-flex align-items-center justify-content-center"
>
  <i class="fa-brands fa-twitter"></i>
</div>
<div
  class="social-icon d-flex align-items-center justify-content-center"
>
  <i class="fa-brands fa-pinterest"></i>
</div>
<div
  class="social-icon d-flex align-items-center justify-content-center"
>
  <i class="fa-brands fa-youtube"></i>
</div>
</div>

<!-- Icons Section here -->