<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cafésy - Connected. Organic. Alive.</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/single-page.css" />
    <script defer src="js/main.js"></script>
  </head>

  <body>
    <%- include('../views/partials/header'); %>

    <main>
      <section
        id="heading-section"
        class="d-flex align-items-center text-center"
      >
        <div class="container">
          <h1>About Us</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
            debitis?
          </p>
        </div>
      </section>

      <section id="content-section">
        <div class="container">
          <h1>Lorem, ipsum dolor.</h1>
          <h2>Lorem, ipsum dolor.</h2>
          <h3>Lorem, ipsum dolor.</h3>
          <h4>Lorem, ipsum dolor.</h4>
          <h5>Lorem, ipsum dolor.</h5>
          <h6>Lorem, ipsum dolor.</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            ducimus nobis quis officiis sunt impedit in. Quia est quo, hic
            eveniet minus quod, tempora commodi cum libero quis maxime pariatur.
          </p>
        </div>
      </section>
    </main>

    <%-include('../views/partials/newsletter'); %>
    <%-include('../views/partials/footer'); %>
  </body>
</html>
