<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cafésy - Connected. Organic. Alive.</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/shop.css" />
    <script defer src="js/main.js"></script>
  </head>

  <body>
    <%- include('../views/partials/header'); %>

    <main></main>

    <%-include('../views/partials/newsletter'); %>
    <%-include('../views/partials/footer'); %>
  </body>
</html>
