<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cafésy - Connected. Organic. Alive.</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/contact.css" />
    <script defer src="js/main.js"></script>
    <script defer src="js/contact-form.js"></script>
  </head>

  <body>
    <%- include('../views/partials/header'); %>

    <main>
      <section
        id="heading-section"
        class="d-flex align-items-center text-center"
      >
        <div class="container">
          <h1>FAQs</h1>
          <p>Frequently Asked Questions (FAQ)</p>
        </div>
      </section>

      <section id="content-section">





        
      </section>
    </main>

    <%-include('../views/partials/newsletter'); %>
    <%-include('../views/partials/footer'); %>
  </body>
</html>
