.coffee-card {
    background-color: $white;
    overflow: hidden;

    &-image {
      height: 250px;
      width: 100%;
      object-fit: cover;
      z-index: 1;
      transition: all $main-tp;

      &:hover {
        transform: scale(1.05);
        transition: all $main-tp;
      }
    }

    &-text-wrapper {
      position: relative;
      width: 85%;
      margin: 0 auto;
      padding: 30px 20px;
      background-color: $white;
      margin-top: -60px;
      z-index: 10;
    }

    &-heading {
      color: $primary-dark;
      font-family: $main-font;
      font-size: 25px;
    }

    &-p {
      color: $dark-gray;
      font-family: $sub-font;
      font-size: 14px;
      margin: 0;
    }
  }