.product-card {
  font-family: $sub-font;
  color: $primary-dark;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;

  &-img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all $main-tp;
    height: auto;

    @include img-hover;
  }

  &-details {
    position: relative;
    z-index: 2;
    background-color: $white;
    padding: 20px 30px;
  }

  &-title {
    display: inline-block;
    margin: 2px 0;
  }

  &-p {
    color: $dark-gray;
    margin: 0;
  }

  &-price {
    font-size: 20px;
    font-weight: 600;
    color: $secondary-dark;
    margin: 10px 0;

    span {
      font-weight: 500;
      font-size: 16px;
    }
  }

  &-cta {
    color: $white;
    background-color: $secondary-dark;
    transition: all $main-tp;
    padding: 10px;
    text-decoration: none;

    p {
      margin: 0;
      display: inline-block;
    }

    i {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .product-card {
    width: 100%;
    margin: 0 auto;
  }
}
