.product-card {
    font-family: $sub-font;
    color: $primary-dark;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
  
    &-img {
      position: relative;
      z-index: 1;
      width: 100%;
      transition: all $main-tp;
      height: auto;
  
      @include img-hover;
    }
  
    &-details {
      position: relative;
      z-index: 2;
      background-color: $white;
      padding: 15px 25px;
    }
  
    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-top: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  
    &-p {
      font-size: 14px;
      color: $dark-gray;
      margin: 5px 0 15px 0;
    }
  
    &-price {
      display: inline-block;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      background-color: $secondary-dark;
      padding: 5px 10px;
  
      span {
        font-weight: 500;
        font-size: 16px;
      }
    }
  
    &-cta {
      color: $secondary-dark;
      transition: all $main-tp;
      font-weight: 600;
      padding-top: 5px;
      text-decoration: none;
  
      &:hover {
        i {
          margin-left: 7px;
          transition: all $main-tp;
        }
      }
  
      p {
        margin: 0;
        display: inline-block;
      }
  
      i {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
  
  @include media-breakpoint-down(lg) {
    .product-card {
      width: 80%;
      margin: 0 auto;
    }
  }