.social-icons-wrapper {

  a {
    text-decoration: none;
    color: $primary-dark;

  }
    margin: 40px 0;
  
    .social-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      font-size: 25px;
      background-color: $primary-light;

      i {
        line-height: normal;
      }
      
    }
  }


  @include media-breakpoint-down(lg) {
    .social-icon {
        height: 40px;
        width: 40px;
        font-size: 20px;
      }
  }