// Start - Hero Section

#hero {
  .row {
    margin-top: 85px;
    height: $section-height;
  }

  .container {
    h1 {
      font-family: $main-font;
      font-size: 95px;
      text-transform: uppercase;
      line-height: 1;
      margin: 15px 0 30px 0;
    }

    h2 {
      font-family: $sub-font;
      font-size: 32px;
      font-weight: 500;
      line-height: 1;
    }

    p {
      font-family: $sub-font;
      font-size: 20px;
      line-height: 200%;
    }

    .main-button {
      margin-top: 20px;
    }
  }
}

.hero-img-wrapper {
  width: 500px;
  position: relative;

  .hero-img {
    width: 330px;
  }

  .bean-1 {
    height: 50px;
    position: absolute;
    top: 50px;
    right: 85px;
    z-index: -1;
    transform: rotate(15deg);
  }

  .bean-2 {
    height: 60px;
    position: absolute;
    bottom: 40px;
    left: 85px;
    transform: rotate(-10deg);
  }

  .bean-3 {
    position: absolute;
    height: 120px;
    top: 140px;
    left: 30px;
  }

  .bean-4 {
    position: absolute;
    height: 150px;
    bottom: 70px;
    right: 0px;
  }
}

// Hero section Responsive Styles

@include media-breakpoint-down(lg) {
  #hero {
    height: auto;

    .container {
      h1 {
        font-size: 55px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .hero-img {
    height: 300px;
    width: auto !important;


  &-wrapper {
    width: 275px;

    .bean-1 {
      height: 30px;
      top: 25px;
      right: 40px;
    }

    .bean-2 {
      height: 35px;
      bottom: 15px;
      left: 40px;
    }

    .bean-3 {
      height: 80px;
      top: 80px;
      left: 0;
    }

    .bean-4 {
      height: 80px;
      bottom: 35px;
      right: 0px;
    }
  }
}
  }

// End - Hero Section

// Start - About Section

#about {
  color: $white;
  height: $section-height;

  h2 {
    font-size: 65px;
    font-family: $main-font;
    margin-bottom: 50px;
  }

  p {
    font-size: 20px;
    font-family: $sub-font;
    line-height: 2;
  }

  .brand-text {
    font-family: $main-font;
    text-transform: uppercase;
    font-size: 32px;
  }

  .about-image {
    height: 600px;
    width: 360px;
    object-fit: cover;
  }
}

@include media-breakpoint-down(lg) {
  #about {
    .about-image {
      width: 100% !important;
      max-height: 250px;
      margin: 50px 0 40px 0;
      object-position: bottom;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    p {
      font-size: 16px;
      line-height: 2;
    }

    .brand-text {
      font-size: 25px;
    }
  }
}

// End - About Section

// Start - About Section

#products {
  
}

// End - About Section

// Global Responsive Styles
@include media-breakpoint-down(lg) {
  // Add small a margin around canvas on mobile devices
  .content-wrapper {
    margin: 0 15px;
  }
}
